.vscode/
resources/images/workexp/zolar2.png
resources/images/workexp/SwE2.jpeg
resources/images/workexp/SwE.jpeg
resources/images/workexp/SpeakWithEve2.jpg
resources/images/workexp/SpeakWithEve.jpg
resources/images/workexp/SpeakWithEve - Copy.jpg
resources/images/workexp/321997797_515481697313973_4463517963375711841_n (1).jpg
